## Goal
Train a logistic regression model to predict if a person can complete a 50m marathon race.

## Import libraries

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
import seaborn as sns
plt.style.use('ggplot')

## mock data

d = {'miles_per_week': [37,39,46,51,88,17,18,20,21,22,23,24,25,27,28,29,30,31,32,33,34,38,40,42,57,68,35,36,41,43,45,47,49,50,52,53,54,55,56,58,59,60,61,63,64,65,66,69,70,72,73,75,76,77,78,80,81,82,83,84,85,86,87,89,91,92,93,95,96,97,98,99,100,101,102,103,104,105,106,107,109,110,111,113,114,115,116,116,118,119,120,121,123,124,126,62,67,74,79,90,112],
      'completed_50m_ultra': ['no','no','no','no','no','no','no','no','no','no','no','no','no','no','no','no','no','no','no','no','no','no','no','no','no','no','yes','yes','yes','yes','no','yes','yes','yes','no','yes','yes','yes','yes','yes','yes','yes','yes','no','yes','yes','yes','yes','yes','yes','yes','no','yes','yes','yes','yes','yes','yes','yes','no','yes','yes','yes','yes','yes','yes','yes','no','yes','yes','yes','yes','yes','yes','yes','yes','yes','yes','yes','yes','yes','yes','yes','yes','yes','yes','yes','yes','yes','yes','yes','yes','yes','yes','yes','yes','yes','yes','yes','yes','yes',]}

In [7]:
df = pd.DataFrame(data=d)

In [8]:
df.head()

   miles_per_week completed_50m_ultra
0              37                  no
1              39                  no
2              46                  no
3              51                  no
4              88                  no

Data shows us the amount per week, which signifies the number of miles individuals ran during training in a week, and completed 50m ultra, which signifies if an individual completed the marathon race

## spliting our data

In [9]:
from sklearn.model_selection import train_test_split

X = df['miles_per_week']
y = df['completed_50m_ultra']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state=42)

## encoding our data using ordinal encoding

In [10]:
from sklearn.preprocessing import OrdinalEncoder

finished_race = ['no', 'yes']

In [ ]:
enc = OrdinalEncoder(categories = [finished_race])